.noinit .welcome,
.noinit .main {
    display: none;
}
.noinit .errorinit {
    padding: 50px 18px;
    display: flex;
    justify-content: center;
}
.noinit .errorinitmsg {
    padding: 11px 34px;
    background-color: #ffd9df;
    border-width: 2px;
    border-style: solid;
    border-color: #d39494;
    color: #b12626;
    border-radius: 8px;
    text-align: center;
}
.status-sync {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}
.status-sync > * {
    display: none;
}
.status-sync[data-status=ready] .i-ready {
    display: flex;
    color: white;
}
.status-sync[data-status=progress] .i-progress {
    display: flex;
    color: rgb(149, 176, 251);
}
.status-sync[data-status=error] .i-error {
    display: flex;
    color: rgb(255, 226, 22);
}
i.i-error::after {
    content: '';
    background-color: red;
    border-radius: 6px;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translate(-3px, -3px);
}
i.i-error {
    position: relative;
}
#btn-reset-info,
#btn-exit {
    color: rgb(168, 41, 41);
    border-color: rgb(168, 41, 41);;
}
#btn-reset-info:hover,
#btn-exit:hover {
    color: white;
    background-color: rgb(168, 41, 41);
}
.panel-left .pcont-foo .btn-large {
    border-color: rgb(44, 93, 126);
    color: rgb(44, 93, 126);
}
.panel-left .pcont-foo .btn-large:hover {
    background-color: rgb(44, 93, 126);
    color: white;
}
.info-cards {
    padding: 14px 14px 0px 14px;
}
.info-cards .cards {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.info-cards .cards .info-card {
    color: #616161;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px;
}
.info-cards .cards .info-card i {
    width: 24px;
    text-align: center;
}
.pcont-main {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.sett-vars {
    position: absolute;
}
.article .pcont-header {
    background-color: rgb(57, 100, 221);
}
.article .pcont-main .msg-cont-rel {
    height: 100%;
    position: relative;
}
#chatScrolled {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #ffffff4f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    color: #808080;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.3s;
    cursor: pointer;
}
#chatScrolled:hover {
    background-color: white;
    color: #000000;
    border-color: #000000;
    box-shadow: 0px 2px 8px 0px #00000042;
}
#chatScrolled i {
    transition: all 0.3s ease-in-out;
}
#chatScrolled.toUp i {
    transform: rotate(180deg);
}
.article .pcont-main .msg-cont-scr {
    height: inherit;
    display: flex;
    flex-direction: column;
}
.article .pcont-main .msg-cont-scr {
    overflow-y: overlay;
    overflow-x: hidden;
}
.article:not(.mobile) .msg-cont-scr::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;
}
.article:not(.mobile) .msg-cont-scr::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    background-clip: padding-box;
}
.article:not(.mobile) .msg-cont-scr::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.article:not(.mobile) .msg-cont-scr::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.article .pcont-main,
.article .pcont-main .list-msg {
    background-color: rgb(240, 240, 240);
}
.article .form-submit {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    z-index: 2;
}
.article .form-submit .prompt-cont {
    position: relative;
    flex: 1;
    height: 40px;
}
.article .form-submit textarea {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(189, 189, 189);
    border-radius: 8px;
    resize: vertical;
    padding: 8px 12px;
    font-size: 16px;
    transition-property: all;
    transition-duration: 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.article .form-submit textarea:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.article .form-submit textarea::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}
.article .form-submit textarea::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}
.article .form-submit textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.article .form-submit textarea::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.chat-item {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    overflow: hidden;
}
.chat-item, .wait-response {
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 2px;
    border-color: rgb(218, 218, 218);
}
.chat-item.tagNE {
    display: none;
}
.chat-item.mov {
    transition-property: height;
    transition-duration: 0.5s;
}
.msg-cont-scr:not(.tgsfilteron) .chat-item.hidd {
    display: none;
}
.links-load,
.link-more,
.c-head,
.c-tags,
.c-sett,
.c-details,
.c-actions,
.set-tags,
.tags-cont,
.i-tag-edit,
.add-tag-cont .btn-icon,
.left-sett-tags p,
.tag-entry,
.btn-min {
    display: flex;
    align-items: center;
}
.c-head {
    background-color: white;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 8px;
}
.c-head .btn-icon {
    width: 22px;
    text-align: center;
}
.act-resize {
    display: flex;
    align-items: center;
    flex: 1;
    margin: 6px;
    cursor: pointer;
    position: relative;
}
.list-msg.withidx .index-msg {
    display: block;
}
.index-msg {
    display: none;
    position: absolute;
    right: 0;
    top: -6px;
    border-style: solid;
    border-color: #ababab;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 6px 6px;
    padding: 3px 8px;
    background-color: #ffffffab;
}  
.chat-item.minimize .btn-icon.btn-details {
    pointer-events: none;
    color: rgb(196, 196, 196);
    cursor: default;
}
.chat-item .c-head .btn-details {
    margin: 6px;
    margin-left: 6px;
}
.links-load, .link-more {
    justify-content: center;
}
.chat-item .c-head,
.chat-item .c-body {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.chat-item .c-body {
    overflow: hidden;
    position: relative;
    min-height: 50px;
}
.c-resp {
    text-align: justify;
    white-space: pre-wrap;
}  
p.c-text-send {
    flex: 1;
    margin-left: 6px;
}
.c-sett {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 4px;
    border-radius: 0px 0px 6px 6px;
    margin: 0px 8px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
}
.c-sett.view {
    transform: translateY(0);
    box-shadow: 0px 6px 12px 0px #00000022;
}
.c-details {
    flex: 1;
    overflow-x: auto;
    margin-right: 6px;
}
.article:not(.mobile) .c-details {
    overflow-x: overlay
}
.article:not(.mobile) .c-details::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}
.article:not(.mobile) .c-details::-webkit-scrollbar-thumb {
    background-color: #00000000;
}
.article:not(.mobile) .c-details:hover::-webkit-scrollbar-thumb {
    background-color: #0000001f;
}
.article:not(.mobile) .c-details::-webkit-scrollbar-thumb:hover {
    background-color: #00000030;
}
.article:not(.mobile) .c-details::-webkit-scrollbar-thumb:active {
    background-color: #00000040;
}
.c-details .btn-min.card-min {
    color: rgb(100, 100, 100);
}
.link-more:not(.enable) {
    display: none;
}
.btn-min.card-min {
    padding: 4px 6px;
    font-size: 14px;
    gap: 2px;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 4px;
    margin-right: 6px;
}
.c-details .btn-min.card-min i {
    margin-right: 4px;
}
.btn-min.card-min:hover {
    background-color: #e2e2e2;
}
.list-msg > *:last-child {
    border-bottom: none;
    margin-bottom: 20vh;
}
.warn-msg {
    user-select: none;
    background-color: rgb(224, 224, 224);
    padding: 4px 0px;
}
.tgsfilteron .warn-msg {
    display: none;
}
.warn-msg a, .warn-msg span {
    cursor: pointer;
    border-radius: 4px;
    color: rgb(147, 147, 147);
    transition-property: all;
    transition-duration: 0.3s;
    padding: 4px 10px;
} 
.warn-msg a:hover, .warn-msg i:hover {
    color: black;
    background-color: rgb(240, 240, 240);
}  
.links-load {
    font-size: 14px;
}
.link-more {
    font-size: 12px;
}
.btn-icon.btn-resize i {
    transition-property: all;
    transition-duration: 0.3s;
} 
.chat-item:not(.minimize) .btn-icon.btn-resize i {
    transform: rotate(90deg);
}  
.cont-edit-tags {
    background-color: #e6e6e6;
    display: flex;
    align-items: stretch;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding-left: 8px;
    padding-top: 16px;
    padding-bottom: 24px;
    gap: 8px;
    transition-property: all;
    transition-duration: 0.5s;
    transform: translateY(100%);
    z-index: 3;
}
.cont-edit-tags.editing {
    transform: translateY(0);
    box-shadow: 0px 0px 8px 0px #0000006a;
}
.left-sett-tags p {
    font-weight: bold;
}
.left-sett-tags p,
.tags-cont {
    height: 36px;
    margin-bottom: 8px;
}
.add-tag-cont,
.add-tag {
    height: 34px;
}
.cont-edit-tags .right-input-tags {
    flex: 1;
    max-width: 100%;
    overflow: hidden;
}
.tags-cont::-webkit-scrollbar {
    height: 6px;
}
.tags-cont::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border-radius: 6px;
}
.tags-cont:hover::-webkit-scrollbar-thumb {
    background-color: #0000001f;
    border-radius: 6px;
}
.tags-cont::-webkit-scrollbar-thumb:hover {
    background-color: #00000045;
}
.tags-cont::-webkit-scrollbar-thumb:active {
    background-color: #00000057;
}
.add-tag-cont {
    display: flex;
    gap: 4px;
}
.cont-edit-tags .btn-icon {
    height: inherit;
    flex: 1;
    justify-content: center;
}
.cont-edit-tags .btn-icon.update-tags {
    color: rgb(81, 188, 35);
}
.cont-edit-tags .btn-icon.cancel-tags {
    color: rgb(185, 47, 47);
}
.cont-edit-tags .btn-icon.add-tag-btn {
    color: rgb(47, 52, 185);
}
.tag-entry {
    margin-right: 8px;
}
.tag-entry .add-tag {
    background-color: rgb(205, 205, 205);
    border: none;
    border-radius: 6px;
    padding: 8px 10px;
    transition-property: all;
    transition-duration: 0.2s;
    flex: 1;
}
.tag-entry .add-tag:focus {
    background-color: white;
    outline: none;
}
.tag-entry .add-tag-btn {
    flex: 0;
    margin-left: 6px;
    height: 34px;
    display: flex;
    align-items: center;
}
.i-tag-edit {
    background-color: #d0d0d0;
    gap: 6px;
    padding: 4px 5px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 6px;
}  
.tags-cont {
    overflow-x: auto;
    flex-wrap: nowrap;
}
.i-tag-edit i {
    cursor: pointer;
    padding: 0px 4px;
}
.alert {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px 4px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 6px;
    z-index: 2;
    cursor: pointer;
}
.alert.red {
    background-color: #e19090;
    color: #870c0c;
}
.alert.blue {
    background-color: #b5ade1;
    color: #0c0c87;
}
.alert.green {
    background-color: #ade1ad;
    color: #0c8752;
}
.alert.yellow {
    background-color: #dde1ad;
    color: #87810c;
}
.welcome .alert {
    transition-property: all;
    transition-duration: 0.5s;
    transform: scale(0.6) translateY(-50%);
    opacity: 0;
}
.welcome .alert.msgboxIn {
    transform: scale(1) translateY(0);
    opacity: 1;
}
.chat-cont .alert {
    transition-property: all;
    transition-duration: 0.3s;
    transform: translateY(-100%);
}
.chat-cont .alert.msgboxIn {
    transform: translateY(0);
}
.alert.outForce {
    transition-duration: 0.2s !important;
}
.chat-item.deleting {
    transition-delay: 0.3s;
    transition-duration: 0.3s !important;
    height: 0px;
}
.chat-item.deleting-cont > * {
    transition-property: all;
    transition-duration: 0.3s !important;
    transform: translateX(-100vw);
}
.chat-item.deleting {
    height: 0px !important;
    padding: 0px !important;
    border-bottom-width: 0px;
}
.list-msg .wait-response {
    padding: 16px 10px;
}
.msg-loading {
    display: flex;
    background-color: #d9d9d9;
    gap: 3px;
    padding: 8px 12px;
    width: min-content;
    border-radius: 20px;
}
.msg-loading .dot {
    height: 5px;
    width: 5px;
    border-radius: 8px;
    background-color: gray;
    animation-name: dotFillOpa;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.response-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.response-bot {
    display: flex;
    gap: 6px;
    margin-top: 12px;
    color: #7a7a7a;
}
@keyframes dotFillOpa {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(0)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.msg-loading .dot:nth-child(1) {
    animation-delay: 0s;
}
.msg-loading .dot:nth-child(2) {
    animation-delay: 0.3s;
}
.msg-loading .dot:nth-child(3) {
    animation-delay: 0.6s;
}
.wait-response .response-loading .user-question {
    color: #b2b2b2;
    font-style: italic;
}
.set-tags {
    margin-bottom: 8px;
    gap: 4px;
    padding-top: 2px;
}
.c-tags {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 6px;
    flex: 1;
}
.c-tags .i-text-tag {
    background-color: rgb(207, 207, 207);
    padding: 2px 6px;
    border-radius: 2px;
    font-size: 14px;
    color: rgb(98, 98, 98)
}
.c-tags .i-text-tag::before {
    content: '#';
}
.i-tag-empty {
    background-color: rgb(219, 219, 219);
    padding: 2px 10px;
    border-radius: 2px;
    color: rgb(163, 163, 163);
    font-family: monospace;
    font-size: 14px;
}
.cont-all-tags {
    gap: 6px;
    padding: 6px;
}
.btn-tag {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}
.btn-tag,
.btn-tag > * {
    transition-property: all;
    transition-duration: 0.3s;
}
.btn-tag .tag-value {
    flex: 1;
}
.btn-tag p {   
    color: rgb(191, 191, 191);
}
.btn-tag .checkbox {
    border-radius: 50%;
    margin-left: 6px;
    height: 16px;
    width: 16px;
    background-color: rgb(235, 235, 235);
}
.btn-tag.on .checkbox {
    background-color: rgb(160, 160, 255);
}
.btn-tag:not(.on):hover .checkbox {
    background-color: white;
}
.btn-tag.on p {
    color: black;
}
.btn-tag:hover p {
    color: rgb(70, 70, 70);
}
.btn-tag.on {
    background-color: rgb(242, 246, 255);
}
.btn-tag:hover {
    background-color: rgb(233, 233, 233);
    border-color: rgb(189, 189, 189);
}
.setvars {
    transition-property: all;
    transition-duration: 0.4s;
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
}
.setvars.show {
    transform: translateY(0px);
}
.set-tags .pcont-header,
.set-tags .options-vars {
    padding: 8px;
}
.set-tags .pcont-header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
}
.header-svars {
    display: flex;
    align-items: center;;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.137);
}
.header-svars .title-panel {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
}
.options-vars {
    padding: 20px 10px 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    user-select: none;
    font-size: 15px;
}
@media (max-width: 700px) {
    .options-vars {
        row-gap: 4px;
    }
    .options-vars label {
        width: 100%;
    }
    .options-vars label .ipt-dat {
        max-width: 60vw;
    }
}
@media (min-width: 700px) {
    .options-vars {
        column-gap: 20px;
    }
    .options-vars label {
        width: calc(50% - 10px);
    }
    .options-vars label .ipt-dat {
        max-width: 400px;
    }
}
.it-range {
    appearance: none;
    vertical-align: middle;
    outline: none;
    border: none;
    padding: 0;
    background: none;
}
.it-range::-webkit-slider-runnable-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: 1px solid transparent;
}
.it-range[disabled]::-webkit-slider-runnable-track {
    border: 1px solid #d7dbdd;
    background-color: transparent;
    opacity: 0.4;
}
.it-range::-moz-range-track {
    background-color: #d7dbdd;
    height: 6px;
    border-radius: 3px;
    border: none;
}
.it-range::-ms-track {
    color: transparent;
    border: none;
    background: none;
    height: 6px;
}  
.it-range::-ms-fill-lower {
    background-color: #d7dbdd;
    border-radius: 3px;
}
.it-range::-ms-fill-upper {
    background-color: #d7dbdd;
    border-radius: 3px;
}
.it-range::-moz-range-thumb {
    border-radius: 20px;
    height: 18px;
    width: 18px;
    border: none;
    background: none;
    background-color: #606670;
}
.it-range:active::-moz-range-thumb {
    outline: none;
}
.it-range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 18px;
    width: 18px;
    margin-top: -7px;
}  
.it-range[disabled]::-webkit-slider-thumb {
    background-color: transparent;
    border: 1px solid #d7dbdd;
}
.options-vars label {
    justify-content: space-between;
    padding: 6px 0px;
}
.options-vars label,
.options-vars label .ipt-dat {
    display: flex;
    align-items: center;
}
.options-vars label .mean {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.options-vars label .ipt-dat {
    flex: 1;
    width: 100%;
    margin-left: 6px;
}
.options-vars label .ipt-dat input,
.options-vars label .ipt-dat select {
    flex: 1;
}
.options-vars label .ipt-dat .outPrvw {
    min-width: 36px;
    text-align: center;
    border-style: solid;
    border-color: #cbcbcb;
    border-width: 1px;
    border-radius: 4px;
    padding: 2px 6px;
    margin-left: 12px;
}
select#parm-model {
    border-width: 1px;
    border-style: solid;
    border-color: #cbcbcb;
    border-radius: 4px;
    padding: 6px;
    background-color: #f6f6f6;
}
select#parm-model:focus {
    outline: none;
    box-shadow: 0px 0px 8px 0px #00000033;
    border-color: transparent;
    background-color: white;
}
.float-form.opening {
    transform: scale(1);
    opacity: 1;
}
.modal-register {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 4px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    background-color: transparent;
}
.modal-register.open-modal {
    background-color: #00000085;
}
.float-form {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    overflow: auto;
    user-select: none;
    transition: all 0.3s ease-out;
    transform-origin: center;
    transform: scale(0.75);
    opacity: 0;
}
.nu-form {
    display: flex;
    flex-direction: column;
}
@media (max-width: 600px) {
    .float-form {
        padding: 20px 0px;
    }
    .nu-form {
        padding: 0px 10px;
    }
}
@media (min-width: 601px) {
    .float-form {
        padding: 40px 0px;
    }
    .nu-form {
        padding: 0px 30px;
    }
}
p.hellonewuser {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    margin-block-end: 30px;
}
p.msgnewuser {
    color: #a3a3a3;
    margin-block-end: 10px;
}
.logTryReffer {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 0.95rem;
}
.logTryReffer.visibleLog {
    margin-bottom: 20px;
    padding: 6px 10px;
}
.logTryReffer[color=red] {
    background-color: #ffd4d4;
    color: #ba3232;
}
.logTryReffer[color=green] {
    background-color: #d4ffd5;
    color: #21921f;
}
.form-nu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nu-form .nuipt {
    border-style: solid;
    border-width: 2px;
    border-color: #c2c2c2;
    font-size: 1rem;
    padding: 8px 12px;
    transition: all 0.15s;
    border-radius: 8px;
}
.nu-form .nuipt:focus {
    border-color: #424242;
    outline: none;
}
.nu-btn {
    margin-block-start: 32px;
    display: flex;
}
@media (max-width: 600px) {
    .nu-btn {
        flex-direction: column;
        gap: 10px
    }
}
@media (min-width: 601px) {
    .nu-btn {
        justify-content: space-between;
        gap: 20px;
    }
    .nu-btn button {
        flex: 1;
    }
}
.nu-btn button {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s;
}
.nu-btn button:hover {
    color: white;
}
.nu-btn.next-mode .exit-register,
.nu-btn.next-mode .save-register {
    display: none;
}
.nu-btn:not(.next-mode) .next-register {
    display: none;
}
button.exit-register {
    color: #d22626;
    border-color: #d22626;
}
.nu-btn:not(.next-mode) button.exit-register:hover {
    background-color: #d22626;
}
button.save-register {
    color: #32740c;
    border-color: #32740c;
}
.nu-btn:not(.next-mode) button.save-register:hover {
    background-color: #32740c;
}
.nu-btn.next-mode-log .next-register {
    color: #0f0c74;
    border-color: #0f0c74;
}
.nu-btn.next-mode-log button.next-register:hover {
    background-color: #0f0c74;
    color: white;
}
.nu-btn.next-mode:not(.next-mode-log) button {
    border-color: #c5c5c5;
    background-color: #f8f8f8;
    color: #a5a5a5;
    cursor: not-allowed;
}