<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>File Viewer</title>
    <link rel="icon" type="image/png" href="/_cdn_/favs/files.192.png">
    <script src="/_cdn_/rm-wbha.js"></script>
    <link rel="stylesheet" href="off.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
    <div class="app">
        <div class="root">
            <div class="form">
                <div class="send">
                    <div class="tit"></div>
                    <div class="edi">
                        <input type="text" id="dtit" placeholder="window title">
                        <input type="number" id="exc" placeholder="excess">
                        <textarea id="uri" class="uri" spellcheck="false"></textarea>
                    </div>
                    <div class="opt"></div>
                    <div class="snd">
                        <div class="config">
                            <input type="button" id="rvry" value="RECUVA">
                            <input type="button" id="tab" value=""> 
                        </div>
                        <input type="button" id="sbmt">
                    </div>
                </div>
            </div>
            <div class="embed h">
                <iframe id="ifr" src=""></iframe>
                <a class="newopen">##</a>
            </div>
        </div>
        <div class="jsrc">
            <script src="off.js"></script>
        </div>
    </div>
</body>
</html>