* {
    font-family: monospace;
    font-size: 13px
}
.head {
    background: rgb(220, 220, 220);
    padding: 14px 8px;
    font-weight: Bold
}
.con {
    border: 2px solid rgb(189, 189, 189);
    margin-bottom: 28px
}
.list {
    padding: 8px
}
a {
    display: block;
    color: rgb(101, 101, 228);
    margin-bottom: 11px;
    word-break: break-word;
    text-decoration: none
}
.url-origin {
    padding: 8px 16px;
    background-color: rgb(193, 208, 255);
}